* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

:root {
    --bg-color: #1d1d1d;
    --second-bg-color: #1a17177e;
    --text-color: #fff;
    --main-color: rgb(1, 252, 231);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Lato';
    background: url(pexels-jakub-novacek-924824.jpg);
    background-position: center;
    background-size: cover;
}

section {
    min-height: 100vh;
    padding: 100px 50px;


}






.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: rgba(22, 22, 22, 0.514);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
}



.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 300;
    cursor: default;
    background: linear-gradient(to right, #707070 50%, #222222d0 50%);
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid rgba(235, 235, 235, 0.973);
    box-shadow: 0 0 12px white;
    letter-spacing: 2px;

}





.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;


}


.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
    font-weight: bold;
    border-bottom: 2px solid var(--main-color);
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    cursor: pointer;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    background: url(pexels-jakub-novacek-924824.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid rgba(255, 255, 255, 0.041);
}

.home .btn {
    animation: moveUpDownn 3s infinite;
}

@keyframes moveUpDownn {
    0% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-5px);
        /* يمكنك تعديل هذه القيمة حسب الاحتياجات */
    }

    100% {
        transform: translatey(0);
    }
}


@keyframes moveUpDown {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    33% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    66% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

.home-img {
    position: relative;
    left: 10%;

}

.home-content {
    position: relative;
    left: 12%;

}

.home-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    border-radius: 20% 20% 0 0;
    animation: moveUpDown 5s infinite;
}



.home-content h3 {
    font-size: 22px;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;

}

span {
    color: var(--main-color);
}

.home-content h1 {
    background: linear-gradient(to right, #00f7ff 10%, #005397 35%, #b8b8b8 70%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 4px;
    height: 50px;
}

.home-content p {
    font-size: 12px;
    width: 60%;
    color: #ffffffb2;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    margin: 20px 10px;
    transition: 0.5s;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 10px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 10px white;
    font-size: 13px;
    font-weight: 900;
    color: black;
    letter-spacing: 2px;
    transition: 0.3s;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.486);
}


.about {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.041);
}

.about-img {
    position: relative;
    left: 8%;
}

.about-img img {
    position: relative;
    object-fit: cover;

    width: 300px;
    height: 300px;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    border-radius: 100%;
    animation: moveUpDown 7s infinite;
}

.heading {
    text-align: center;
    font-size: 30px;

}

.about-content {
    position: relative;
    left: 22%;
    text-align: left;

}


.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 21px;
}

.about-content p {
    font-size: 17px;
    margin: 2rem 0 3rem;
    width: 60%;
    line-height: 1.7;
    color: #7bf3fce1;
}


.services {
    border-bottom: 1px solid rgba(255, 255, 255, 0.055);

}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;

}

.services-container .services-box {
    width: 300px;
    background: var(--second-bg-color);
    padding: 30px 20px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid var(--bg-color);
    transition: 0.5s;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 30px;
    color: var(--main-color);

}

.services-box h3 {
    font-size: 20px;
    cursor: pointer;
}

.services-box p {
    font-size: 15px;
    margin: 20px;
    color: #ffffffb4;
}

.range {
    width: 100%;
    margin: 10px 0;
}

.skill {
    background-color: #222;
    height: 20px;
    width: 100%;
    border-radius: 25px;
}

.html {
    background-color: #9cfffffd;
    height: 100%;
    width: 95%;
    border-radius: 25px;
    padding-top: 2px;
    color: #2d0097;
    font-size: 15px;
    font-weight: 800;

    direction: rtl;
    animation: skill 4s infinite;
}

@keyframes skill {
    0% {
        width: 1%;
        color: transparent;
    }

    50% {
        color: #222;
    }

    100% {}
}

#html-1 {
    width: 90%;
}

#html-3 {
    width: 60%;
}

#html-4 {
    width: 75%;
}



.portfolio h2 {
    margin-bottom: 40px;
}

.portofolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;

}

.portofolio-container .portofolio-box {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--bg-color);
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.87);
}

.portofolio-box img {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.portofolio-box img:hover {
    transform: scale(1.1);
}


.portofolio-box .portofolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.575), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    transform: translateY(100%);
    transition: 0.5s;
}

.portofolio-box:hover .portofolio-layer {

    transform: translateY(0);
}

.portofolio-layer h4 {
    font-size: 23px;
}

.portofolio-layer p {
    font-size: 12px;
    margin: 10px;
    line-height: 1.7;
    color: #ffffffb4;
}

.portofolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: var(--text-color);
    border-radius: 50%;

}

.portofolio-layer a i {
    font-size: 15px;
    color: var(--second-bg-color);

}

.contact {
    padding: 50px 0;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact-form-container form {
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.contact-form-container form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .contact-form-container form input,
  .contact-form-container form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .contact-form-container form textarea {
    height: 100px;
  }
  
  .contact-form-container form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .social-media-links a {
    margin: 0 10px;
    color: #000;
    font-size: 1.5em;
  }
  
  .social-media-links a:hover {
    color: #f0b32a;
  }
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 9%;
    background: rgba(255, 255, 255, 0.075);

}

.footer-text p {
    font-size: 15px;
}

.footer-icon {
    animation: moveUpDownn 2s infinite;
}

.footer-icon a {
    text-align: center;
    padding: 12px;
    background: var(--main-color);
    border-radius: 10px;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 900;
    box-shadow: 0 0 10px var(--main-color);
}



.footer-icon a i {
    color: white;
}



@media (max-width: 1200px) {
    html {
        font-size: 55%;

    }



    .home-img {
        left: 11%;
    }

    .home-content {
        left: 18%;
    }
}


@media(max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 100;
        margin: 0;
    }


    .footer {
        padding: 2rem 3%;
    }

    .about-content {
        left: 18%;

    }
}


@media(max-width: 768px) {
    #menu-icon {
        display: block;
        position: relative;
        right: 1%;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.288);
        border-top: .1rem solid rgba(0, 0, 0, 0.205);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.205);
        display: none;
    }

    .navbar.active {
        display: block;

    }


    .navbar a {
        display: block;
        font-size: 20px;
        margin: 30px 0;
        width: 120px;
    }

    .home {
        flex-direction: column;
        left: 0;
        width: 100%;
    }

    .home .contact h3 {
        font-size: 16px;

    }

    .home-content {
        text-align: center;
        left: 0;
    }

    .home-content p {
        text-align: center;
        width: 100%;
    }

    .home .contact h1 {
        font-size: 15px;
    }

    .home-img {
        left: 0;
    }

    .home-img img {
        width: 150px;
        height: 150px;
        margin: 35px 0;

    }

    .social-media a {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }

    .about {
        flex-direction: column;
        padding: 40px 0;
        left: 0;
    }

    .about h3 {

        text-align: center;
    }

    .about h2 {
        text-align: center;

    }

    .about p {
        width: 100%;
        position: relative;
        text-align: center;
        padding: 0 10px;
    }

    .about a {
        position: relative;

        margin: 20px auto;
    }


    .about-img img {
        width: 200px;
        height: 200px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .about-img {
        left: 0;
    }

    .about-content {
        text-align: center;
        left: 0;
    }



}


@media(max-width: 617px) {

    .services-container .services-box {
        width: 90%;

    }

    .home-img img {
        width: 200px;
        height: 200px;

    }

    .about-img {
        left: 0;
    }

    .about-img img {
        width: 200px;
        height: 200px;


    }

    .footer {
        flex-direction: column;
        text-align: center;
        margin: 10px;

    }

    .footer-text {
        margin-bottom: 10px;
    }

    .portofolio-container .portofolio-box {
        width: 80%;
    }

    .portofolio-container .portofolio-box img {
        width: 100%;
    }

}

@media(max-width: 400px) {

    .services-container .services-box {
        width: 90%;

    }

    .portofolio-container .portofolio-box {
        width: 80%;
    }

    .portofolio-container .portofolio-box img {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        width: 100%;

    }

    .footer-text {
        margin-bottom: 20px;
    }
}